
@{
    ViewBag.Title = "Kullanıcı Girişi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Exception
<div class="container">
    <form action="/Home/Giris" method="post">

        <table class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <tr>
                <td><label>Kullanıcı Adı:</label></td>
                <td><input class="form-control" type="text" name="TxtAdi" placeholder="Kullanıcı Adınızı Girizin" /></td>
            </tr>
            <tr>               
                   <td></td>
                
                <td><label class="label label-danger">@ViewBag.Ad</label></td>
            </tr>
            <tr>
                <td colspan=2> <hr /></td>
            </tr>
            <tr>
                <td><label> Kullanıcı Parolası:</label></td>
                <td><input class="form-control" type="password" name="TxtParola" placeholder="Parolanızı Giriniz" /></td>
            </tr>
            <tr>
                <td></td>
                <td> <label class="label label-danger">@ViewBag.Durum</label> </td>
            </tr>

            <tr>
                <td colspan="2"><hr /></td>
            </tr>
            <tr class="row">

                <td colspan="2">
                    <input class="btn  btn-success" type="submit" name="BtnKaydet" value="Oturum Aç" style="margin-right:10px" />
                    <a href="/Home/Kaydol"><input class="btn btn-warning" type="button" name="BtnSimdiKaydol" value="Şimdi Kaydol" /></a>
                </td>

            </tr>
        </table>

    </form>
</div>
